<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>RCE - SSD</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <div class="container">
      <div class="spacer"></div>
      <h1 class="demo">SSD Calculator</h1>
      <a class="demo" href="https://ssd-disclosure.com/" title="SSD Secure Disclosure">https://ssd-disclosure.com/</a>

      <div class="input">
        <input id="input" class="" type="text" placeholder="Enter your equation!">
        <button id="button" type="submit">🧮</button>
      </div>

      <div class="spacer"></div>

      <h1 class="demo">Result: </h1>
      <h1 class="demo" id="result"></h1>
    </div>

    <script src="/static/main.js"></script>
  </body>
</html>